@font-face {
  font-family: "OldStandardTT";
  font-display: swap;
  src: url("../fonts/OldStandardTT-Bold.woff") format("woff"), url("../fonts/OldStandardTT-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: Bold;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-Regular.woff") format("woff"), url("../fonts/Merriweather-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: Regular;
}

@font-face {
  font-family: "OldStandardTT";
  font-display: swap;
  src: url("../fonts/OldStandardTT-Italic.woff") format("woff"), url("../fonts/OldStandardTT-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: Italic;
}

@font-face {
  font-family: "OldStandardTT";
  font-display: swap;
  src: url("../fonts/OldStandardTT-Regular.woff") format("woff"), url("../fonts/OldStandardTT-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: Regular;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Merriweather";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Merriweather";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
  color: #000;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header__row {
  background-color: #202f39;
}

.header__row-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 18px 12px 18px 12px;
  position: relative;
}

.header__logo {
  z-index: 4;
}

.menu__body.active {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

.menu__list {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.menu__list:last-child {
  padding: 0px 0px 0px 0px;
  border-right: none;
}

.menu__list li {
  padding: 0px 10px 0px 10px;
  border-right: 1px solid #ffffff;
  position: relative;
}

.menu__list li:last-child {
  padding: 0px 0px 0px 10px;
  border-right: none;
}

.menu__link {
  color: #ffffff;
}

.menu__link:hover {
  transition: 0.2s;
  color: #f5ca85;
}

.active-page {
  box-shadow: 0px -5px 0px -4px #ffffff inset;
}

.data__phone {
  color: #ffffff;
}

.data__phone:hover {
  transition: 0.2s;
  color: #f5ca85;
}

.icon-menu {
  display: none;
  position: absolute;
  top: 26px;
  right: 15px;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 8px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}

.icon-menu span:first-child {
  top: 0px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}

.icon-menu.active span {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.icon-menu.active span:first-child {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}

.icon-menu.active span:last-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 8px;
}

footer {
  flex: 0 0 auto;
}

.footer {
  margin-top: 85px;
}

.footer__row {
  display: flex;
  text-align: start;
  justify-content: space-between;
  background-color: #202f39;
  padding: 16px 8px 16px 8px;
  min-height: 110px;
}

.footer__column {
  flex-grow: 1;
}

.footer__item {
  display: flex;
  align-items: center;
  height: 100%;
}

.footer__logo {
  margin-right: 25px;
}

.footer__menu {
  height: 100%;
}

.footer-menu__body {
  height: 100%;
}

.footer-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer-menu__list li {
  position: relative;
}

.footer-menu__link {
  color: #ffffff;
  text-transform: uppercase;
  min-width: 172px;
  display: block;
}

.footer-menu__link:hover,
:focus-visible {
  color: #f5ca85;
  transition: 0.2s;
}

.menu__link--one::before {
  content: url(../img/icons/home.svg);
  font-family: "fa-solid";
  padding-right: 5px;
}

.menu__link--two::before {
  content: url(../img/icons/landmark.svg);
  font-family: "fa-solid";
  padding-right: 5px;
}

.menu__link--three::before {
  content: url(../img/icons/money-check.svg);
  font-family: "fa-solid";
  padding-right: 5px;
}

.menu__link--four::before {
  content: url(../img/icons/gavel.svg);
  font-family: "fa-solid";
  padding-right: 5px;
}

.footer__rules {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.rules a {
  color: #ffffff;
}

.rules a:hover,
:focus-visible {
  color: #f5ca85;
  transition: 0.2s;
}

.rules-text {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 11px;
}

.footer__data {
  align-self: flex-end;
}

.footer__data a {
  display: block;
}

.contact--size {
  font-size: 14px;
}

.contact__messagers {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.contact__messagers a {
  margin-right: 20px;
}

.footer__data-address {
  padding-top: 8px;
  color: #ffffff;
  font-family: "OldStandardTT";
  font-weight: 400;
  line-height: 1.4em;
}

.rules-text_down {
  display: none;
}

.footer__data-address::before {
  content: url(../img/icons/map-marked-alt.svg);
  font-family: "fa-solid";
  padding-right: 5px;
}

.contact__phone::before {
  content: url(../img/icons/phone-volume.svg);
  font-family: "fa-solid";
  padding-right: 5px;
  fill: #ffffff;
}

.contact__phone {
  color: #ffffff;
  font-family: "OldStandardTT";
  font-weight: 400;
}

.intro {
  height: auto;
}

.intro__content-text {
  max-width: 100%;
  width: 100%;
  color: #ffffff;
}

.intro__content {
  position: relative;
  align-content: center;
}

.intro__item {
  padding: 70px 0px 0px 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.intro__title {
  font-size: calc(32px + 14 * ((100vw - 320px) / (1170 - 320)));
  text-transform: uppercase;
  font-family: "OldStandardTT";
  font-weight: Bold;
  line-height: 1.5em;
  margin-bottom: 15px;
}

.intro__text {
  font-size: calc(16px + 6 * ((100vw - 320px) / (1170 - 320)));
  font-family: "OldStandardTT";
  line-height: 1.7em;
  max-width: 60%;
}

.intro__text span {
  text-decoration: underline;
}

.intro__content-img {
  z-index: -1;
}

.intro__img {
  max-width: 100%;
}

.intro__content-btn {
  position: absolute;
  left: 50%;
  bottom: 10%;
  right: auto;
  margin: 0 auto;
  width: auto;
  transform: translateX(-50%);
}

.intro__link {
  width: 100%;
}

.intro__btn {
  background-color: #202f39;
  padding: 0px 0px 0px 0px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 26px;
  margin: 0px 0 0px auto;
}

.intro__btn:hover {
  background-color: #f5ca85;
  transition: 0.2s;
}

.intro__img_mobile {
  display: none;
}

.intro__img_tablet {
  display: none;
}

.intro__text .transfer {
  display: none;
}

.main__title {
  margin: 40px 0px 60px 0px;
  font-size: calc(20px + 6 * ((100vw - 320px) / (1170 - 320)));
  text-transform: uppercase;
  text-align: center;
  font-family: "OldStandardTT";
  font-weight: 400;
  line-height: 1.3em;
}

.main__items-flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.main__items-flex_row-descktop {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  width: 100%;
}

.main__items-flex_row {
  display: flex;
  margin-right: 30px;
  width: 100%;
  justify-content: space-between;
}

.main__items-flex_row-descktop .main__items-flex_row:last-child {
  margin-right: 0px;
}

.main__item {
  padding: 10px 20px 10px 20px;
  background-color: #202f39;
  width: 250px;
}

.main__item-text {
  position: relative;
  color: #ffffff;
  line-height: 1.3em;
  height: 100%;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.main__item-text::before {
  content: url(../img/icons/clipboard-list_gold.svg);
  position: absolute;
  display: inline-block;
  left: -3px;
}

.main__servis-list .main__servis-text:last-child {
  text-align: center;
  border: none;
}

.main__servis-text {
  line-height: 1.3em;
  font-size: 16px;
  border: solid 1px #202f39;
  border-radius: 5px;
  padding: 10px 20px;
}

.main__servis-text span {
  font-weight: bold;
}

.service__items {
  display: flex;
}

.service__flex {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.service__item {
  position: relative;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  width: 227px;
  align-items: center;
  text-align: center;
}

.service__item-value {
  color: #ffffff;
  margin-bottom: 20px;
}

.service__item::after {
  content: url(../img/icons/arrow.svg);
  display: block;
  position: absolute;
  right: -40px;
  top: 60px;
}

.service__item_arrow-none:after {
  content: url(../img/icons/arrow.svg);
  display: none;
}

.service__item-text {
  font-size: calc(20px + 6 * ((100vw - 320px) / (1170 - 320)));
  position: relative;
  height: 232px;
  line-height: 1.2em;
}

.service__text {
  font-size: 16px;
  margin-bottom: 70px;
}

.service__text p {
  margin-bottom: 40px;
}

.service__text li {
  margin-bottom: 20px;
  line-height: 1.3em;
  list-style-image: url(../img/icons/check.svg);
  margin-left: 30px;
}

.service__region-item {
  display: flex;
}

.service__region span {
  text-decoration: underline;
}

.service__region-img {
  margin-right: 45px;
}

.service__region-text {
  line-height: 1.3em;
  font-size: 16px;
}

.service__region-text p {
  line-height: 1.3em;
  font-size: 16px;
}

.service__region-title {
  font-size: calc(20px + 6 * ((100vw - 320px) / (1170 - 320)));
  margin-bottom: 30px;
}

.story__intro {
  margin-bottom: 90px;
  position: relative;
}

.story__intro-img {
  max-width: 100%;
  margin-bottom: 50px;
}

.story__intro-item {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  right: auto;
  top: 19%;
  max-height: 293px;
  transform: translateX(-50%);
}

.story__intro-title {
  font-size: calc(32px + 14 * ((100vw - 320px) / (1170 - 320)));
  text-transform: uppercase;
  font-family: "OldStandardTT";
  font-weight: Bold;
  line-height: 1.5em;
  color: #ffffff;
}

.story__intro-text {
  font-size: calc(16px + 3 * ((100vw - 320px) / (1170 - 320)));
  line-height: 1.3em;
  text-align: center;
}

.story-teams {
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-team__item {
  text-align: center;
}

.story-team__text {
  line-height: 1.3em;
}

.story-team__item-img {
  max-width: 230px;
  margin-bottom: 10px;
}

.contact__item {
  margin: 40px 0px 0px 0px;
  display: flex;
  justify-content: space-around;
}

.contact__item-link {
  display: flex;
  flex-direction: column-reverse;
  color: #202f39;
  margin-right: 40px;
}

.contact__item-link:hover {
  color: #f5ca85;
}

.contact__item-img {
  max-width: 100%;
}

.contact__item-text {
  font-size: calc(16px + 3 * ((100vw - 320px) / (1170 - 320)));
}

.contact__phone_black {
  color: #000000;
  font-family: "Merriweather";
  font-weight: 400;
}

.contact__mail {
  margin: 5px 0px 5px 0px;
  line-height: 1.3em;
}

.work__time {
  line-height: 1.3em;
}

.work__time span {
  color: red;
}

.terms__title {
  font-size: calc(20px + 14 * ((100vw - 320px) / (1170 - 320)));
  text-align: center;
  margin: 50px 0px 30px 0px;
}

.terms__text {
  line-height: 1.3em;
}

.case__title {
  margin: 40px 0px 20px 0px;
  font-size: calc(20px + 6 * ((100vw - 320px)/ (1170 - 320)));
  text-transform: uppercase;
  text-align: center;
  font-family: OldStandardTT;
  font-weight: 400;
  line-height: 1.3em;
}

.case__item {
  font-size: 16px;
  line-height: 1.3em;
  text-align: center;
}

.case__one {
  display: flex;
  justify-content: center;
}

.case__one-flex {
  max-width: 650px;
}

.case__text {
  padding: 0px 0px 10px 0px;
}

.case__text span {
  font-weight: bold;
}

.case__frame {
  margin-bottom: 30px;
}

.privacy__text {
  line-height: 1.3em;
  font-size: 16px;
}

.privacy__title {
  margin: 40px 0 20px 0;
  font-size: calc(20px + 6 * ((100vw - 320px)/ (1170 - 320)));
  text-transform: uppercase;
  text-align: center;
  font-family: OldStandardTT;
  font-weight: 400;
  line-height: 1.3em;
}

.price__item {
  text-align: center;
}

.price__item img {
  max-width: 100%;
}

.price__item iframe {
  display: none;
}

@media (max-width: 1186px) {
  .main__items-flex_row-descktop {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .main__items-flex_row {
    display: flex;
    margin-right: 0px;
    width: 100%;
    justify-content: space-between;
  }

  .main__item {
    padding: 20px 20px 20px 20px;
    background-color: #202f39;
    width: 100%;
    margin: 0px 30px 30px 0px;
  }

  .main__items-flex_row .main__item:last-child {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }

  .service__region-text p {
    line-height: 1.1em;
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .footer__column {
    margin-right: 15px;
  }

  .footer__column:last-child {
    margin-right: 0px;
  }

  .footer__rules {
    text-align: center;
  }

  .footer__rules a {
    line-height: 1.3em;
  }

  .contact__messagers {
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  .intro__title {
    font-size: calc(32px + 14 * ((100vw - 320px) / (1170 - 320)));
    text-transform: uppercase;
    font-family: "OldStandardTT";
    font-weight: Bold;
    line-height: 1em;
  }

  .intro__text {
    line-height: 1.2em;
  }

  .intro__content-btn {
    text-align: start;
  }

  .intro__text br {
    display: none;
  }

  .intro__content-btn {
    position: absolute;
    left: 30%;
    bottom: 10%;
    right: auto;
    margin: 0 auto;
    width: auto;
    transform: translateX(-50%);
  }

  .service__flex {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
  }

  .service__item {
    width: auto;
  }

  .service__item::after {
    display: none;
  }

  .service__item-text {
    font-size: calc(20px + 6 * ((100vw - 320px) / (1170 - 320)));
    position: relative;
    height: 150px;
    line-height: 1.2em;
  }

  .service__region-item {
    flex-direction: column;
  }

  .service__region-img {
    margin: 0px 0px 40px 0px;
    max-width: 100%;
  }

  .service__region-item {
    align-items: center;
  }

  .story__intro-item {
    top: 13%;
  }

  .contact__item {
    margin: 40px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .contact__item-link {
    margin: 0px 0px 40px 0px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 760px) {
  .footer__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #202f39;
    padding: 16px 8px 16px 8px;
    min-height: 110px;
  }

  .footer__column {
    margin-right: 0px;
  }

  .footer__rules a:nth-child(1) {
    padding: 0px 0px 8px 0px;
  }

  .footer__row {
    min-height: 200px;
  }

  .footer__logo {
    display: none;
  }

  .rules__text {
    padding: 9px 0px 9px 0px;
  }

  .footer-menu__list li {
    padding: 0px 0px 8px 0px;
  }

  .contact__phone {
    text-align: center;
  }

  .contact__messagers {
    justify-content: center;
    margin-bottom: 15px;
  }

  .rules-text {
    display: none;
  }

  .rules-text_down {
    display: block;
    color: #202f39;
    padding: 5px 0px 0px 0px;
  }

  .contact__messagers {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media (max-width: 712px) {
  .intro__img_descktop {
    display: none;
  }

  .intro__img_tablet {
    display: block;
  }

  .intro__img {
    height: 100%;
  }

  .intro__title {
    font-size: calc(32px + 14 * ((100vw - 320px) / (1170 - 320)));
    text-transform: uppercase;
    font-family: "OldStandardTT";
    font-weight: Bold;
    line-height: 1.5em;
    margin-bottom: 15px;
    text-align: center;
  }

  .intro__text {
    line-height: 1.7em;
    min-width: 100%;
    font-size: calc(20px + 6 * ((100vw - 320px) / (1170 - 320)));
    text-align: center;
  }

  .intro__item {
    padding: 60px 40px 0px 40px;
  }

  .intro__content-text {
    max-width: 100%;
    width: 100%;
    color: #ffffff;
  }

  .intro__link {
    width: 100%;
  }

  .intro__btn {
    background-color: #202f39;
    padding: 0px 0px 0px 0px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 15px 26px;
    margin: 0px 0 0px auto;
  }

  .intro__content-btn {
    position: absolute;
    left: 50%;
    bottom: 10%;
    right: auto;
    margin: 0 auto;
    width: auto;
    transform: translateX(-50%);
  }
}

@media (max-width: 680px) {
  .menu__body {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 86px;
    width: 100%;
    height: 100vh;
    background-color: #202f39;
    z-index: 5;
    padding-top: 100px;
  }

  .menu__list {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .menu__list li {
    padding: 0px 0px 40px 0px;
    border-right: none;
  }

  .menu__link {
    font-size: 30px;
  }

  .icon-menu {
    display: block;
  }

  .header__menu .data__phone {
    font-size: 30px;
  }

  .header__menu .data__phone::before {
    content: url(../img/icons/DropDownMenu-phone-office.svg);
    size: 16px;
    padding-right: 8px;
  }
}

@media (max-width: 668px) {
  .case__frame iframe {
    width: 320px;
    height: 240px;
  }

  .price__item iframe {
    width: 320px;
    height: 370px;
  }
}

@media (max-width: 658px) {
  .story__intro-item {
    top: 4%;
  }
}

@media (max-width: 614px) {
  .intro__text .transfer {
    display: block;
  }
}

@media (max-width: 600px) {
  .price__item img {
    display: none;
  }

  .price__item iframe {
    display: inline-block;
  }
}

@media (max-width: 590px) {
  .intro__img_tablet {
    display: none;
  }

  .intro__img_mobile {
    display: block;
  }
}

@media (max-width: 540px) {
  .story-teams {
    flex-direction: column;
  }

  .story-team__item {
    margin-bottom: 25px;
  }
}

@media (max-width: 486px) {
  .intro__title {
    line-height: 1.2em;
  }

  .intro__text {
    line-height: 1.2em;
  }

  .intro__content-btn {
    text-align: center;
  }
}

@media (max-width: 445px) {
  .main__items-flex_row {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  .intro__item {
    padding: 40px 30px 0px 30px;
  }

  .intro__title {
    line-height: 1.2em;
  }

  .intro__text {
    line-height: 1.2em;
  }

  .intro__content-btn {
    text-align: center;
  }

  .intro__text .transfer {
    display: none;
  }

  .intro__item {
    padding: 30px 30px 0px 30px;
  }

  .intro__title {
    line-height: 1.2em;
  }

  .intro__text {
    line-height: 1.2em;
  }

  .intro__text .transfer {
    display: none;
  }

  .intro__btn {
    padding: 0px 0px 0px 0px;
    font-size: 14px;
    padding: 12px 16px;
  }
}

@media (max-width: 406px) {
  .footer__data-address {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .service__items {
    flex-direction: column;
  }
}

@media (max-width: 368px) {
  .intro__item {
    padding: 20px 20px 0px 20px;
  }

  .intro__title {
    line-height: 1.2em;
  }

  .intro__text {
    line-height: 1em;
  }

  .intro__content-btn {
    padding: 30px 0px 0px 0px;
    text-align: center;
  }

  .intro__text .transfer {
    display: none;
  }

  .intro__btn {
    padding: 0px 0px 0px 0px;
    font-size: 14px;
    padding: 10px 6px;
  }
}

@media (max-width: 360px) {
  .footer__data-address span {
    display: block;
  }
}

@media (max-width: 337px) {
  .intro__item {
    padding: 20px 20px 0px 20px;
  }

  .intro__title {
    line-height: 1em;
  }

  .intro__text {
    line-height: 1em;
  }

  .intro__text .transfer {
    display: none;
  }

  .intro__btn {
    padding: 7px 3px;
    margin: 0px 0 0px auto;
  }
}